In [1]:
# declare a variable
# variables are the containers used to store any data types
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
# check the datatype of the variable
type(X)

int

In [4]:
# create an integer datatype
int_1=20

# show the datatype
print('datatype of the variable ',type(int_1))

datatype of the variable  <class 'int'>

In [5]:
# create an float datatype
float_1=20.38

#store the datatype
print('datatype of the variable ',type(float_1))

datatype of the variable  <class 'float'>

In [6]:
# create an string datatype
string_1='Gopal'

#store the datatype
print('datatype of the variable ',type(string_1))

datatype of the variable  <class 'str'>

In [7]:
# create an list
list_1=[10,20,30,40,50]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Gopal','Nirmal','Nandhini','pooja']

#store the datatype
print('datatype of the variable ',type(list_1))
print('datatype of the variable ',type(list_2))
print('datatype of the variable ',type(list_3))

datatype of the variable  <class 'list'>
datatype of the variable  <class 'list'>
datatype of the variable  <class 'list'>

In [8]:
# create an tuple
tuple_1=(10,20,30,40,50)
tuple_2=(10.38,20.46,30.39,40.68)
tuple_3=('Gopal','Nirmal','Nandhini','pooja')

#store the datatype
print('datatype of the variable ',type(tuple_1))
print('datatype of the variable ',type(tuple_2))
print('datatype of the variable ',type(tuple_3))

datatype of the variable  <class 'tuple'>
datatype of the variable  <class 'tuple'>
datatype of the variable  <class 'tuple'>

In [9]:
# create an set
set_1={10,20,30,40,50}
set_2={10.38,20.46,30.39,40.68}
set_3={'Gopal','Nirmal','Nandhini','pooja'}

#store the datatype
print('datatype of the variable ',type(set_1))
print('datatype of the variable ',type(set_2))
print('datatype of the variable ',type(set_3))

datatype of the variable  <class 'set'>
datatype of the variable  <class 'set'>
datatype of the variable  <class 'set'>

In [10]:
# create an boolean datatype
boolean_1=True
boolean_2=False

#store the datatype
print('datatype of the variable ',type(boolean_1))
print('datatype of the variable ',type(boolean_2))

datatype of the variable  <class 'bool'>
datatype of the variable  <class 'bool'>

In [11]:
# create an dictionary
dictionary_1={'list_1':[10,20,30,40,50],
             'tuple_1':(10,20,30,40,50),
             'set_1':{10,20,30,40,50}}

#store the datatype
print('datatype of the variable ',type(dictionary_1))

datatype of the variable  <class 'dict'>

# Basic Operation

In [13]:
# Task 1:type casting
float_2=45.96

# show the datatype
print('datatype of the variable ',type(float_2))

# do the typecasting
int_2=int(float_2)

# show the datatype
print('datatype of the variable ',type(int_2))

datatype of the variable  <class 'float'>
datatype of the variable  <class 'int'>

In [14]:
# Task 1:type casting
int_3=5

# show the datatype
print('datatype of the variable ',type(int_3))

# do the typecasting
float_3=float(int_3)

# show the datatype
print('datatype of the variable ',type(float_3))

datatype of the variable  <class 'int'>
datatype of the variable  <class 'float'>

In [15]:
# Task 2:use of round function
float_4=10.1234567890

#round the value till three decimal places
rounded_value=round(float_4,3)

#show the output
print('rounded values are:',rounded_value)

rounded values are: 10.123

# Arithmetic Operations on a Data

In [17]:
#addition operation
#declare the variable
a=10
b=20
#perform the sum
sum_1=a+b
#show the output
print('Addition of two variables:',sum_1)

Addition of two variables: 30

In [18]:
# subtraction operation
# declare the variable
a=10
b=20
#perform subtraction opewration
sub_1=b-a
#show the output
print('Subtraction of two variables:',sub_1)

Subtraction of two variables: 10

In [19]:
# division operation
# declare the variable
a=50
b=10
#perform subtraction opewration
div_1=a/b
#show the output
print('Division of two variables:',div_1)

Division of two variables: 5.0

In [20]:
# multiplication operation
# declare the variable
a=10
b=20
#perform subtraction opewration
mul_1=a*b
#show the output
print('multiplicationof two variables:',mul_1)

multiplicationof two variables: 200

# user defined function

In [22]:
#declare the function named as'summation',who can pertform addition in  two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation

# call the function 
summation()

30

In [23]:
# declare the function named as 'subtraction',
# who can perform subtraction between two variables

def subtraction():
    x=20
    y=10
    subtraction=x-y
    return subtraction

# call the function 
subtraction()

10

In [24]:
# declare the function named as 'multiplication',
# who can perform multiplication between two variables

def multiplication():
    x=int(input("Enter the value a:"))
    y=int(input("Enter the value b:"))
    multiplication=x*y
    return multiplication

# call the function 
multiplication()

Enter the value a: 10
Enter the value b: 20

200

In [25]:
# declare the function named as 'division',
# who can perform division between two variables

def division():
    x=20
    y=10
    division=x/y
    return division

# call the function 
division()

2.0