In [1]:
# import numerical python
import numpy as np

# import the pandas
import pandas as pd

# import the seaborn
import seaborn as sns

# import the matplotlib
import matplotlib.pyplot as plt

In [2]:
# Load the data
df_house_price=pd.read_csv('House_Price1.csv')

In [3]:
#Show the first five observation of the data
df_house_price.head()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0

In [4]:
Dictionary={
    'price':'Price',
    'resid_area':'Resident_Area',
    'air_equal':'Air_Equal',
    'room_num':'Room_Num',
    'age':'Age',
    'distance':'Distance',
    'teachers':'Teachers',
    'poor_pop':'Poor_Pop',
    'airport':'Airport',
    'n_hos_beds':'N_Hos_Beds',
    'n_hot_rooms':'N_Hot_Rooms',
    'waterbody':'Waterbody',
    'rainfall':'Rainfall',
    'bus_ter':'Bus_Ter',
    'sold':'Sold'
    
}

In [5]:
# perform the resume action
df_house_price.rename(columns=Dictionary)

,Price,Resident_Area,air_qual,Room_Num,Age,Distance,Teachers,poor_prop,Airport,N_Hos_Beds,N_Hot_Rooms,Waterbody,Rainfall,Bus_Ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,1

In [6]:
# lets treat the null value in waterbody column
df_house_price.waterbody.fillna('River',inplace=True)

In [7]:
# N_Hospital_Beds,we have less than ten percent data missing
df_house_price.dropna(inplace=True)

In [8]:
df_target=df_house_price['Sold']

In [9]:
df_feature=df_house_price.drop('Sold',axis=1)

In [10]:
# segregate the data based on datatype
df_num=df_house_price.select_dtypes(include='number')
df_cat=df_house_price.select_dtypes(include='object')

In [11]:
# use dummy encoding
df_encoded=pd.get_dummies(df_cat)
# reset the index space 
df_encoded=df_encoded.reset_index()

In [12]:
# Import the standard scaler
from sklearn.preprocessing import StandardScaler 

# initialte the standard scalar 
ss=StandardScaler()

In [13]:
# scale the value present in numerical data frame
scaled=ss.fit_transform(df_num)

In [14]:
# numerate the data into the dataframe
scaled_df=pd.DataFrame(scaled,columns=df_num.columns)

In [15]:
# reset the index
scaled_df=scaled_df.reset_index()

In [16]:
# concate encoded variables and state variables
df_independent=pd.concat([df_encoded,scaled_df],axis=1)

In [17]:
# import the train test split
from sklearn.model_selection import train_test_split

In [18]:
# split the data 
x_train,x_test,y_train,y_test=train_test_split(df_independent,df_target,test_size=0.2)

# decision tree classified

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

#create a decision tree classifier
tree_model=DecisionTreeClassifier()

#fit the model to the training data
tree_model.fit(x_train,y_train)

# predisct on the testing data
prediction=tree_model.predict(x_test)

# calculate classification report
class_report=classification_report(y_test,prediction)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        53
           1       1.00      1.00      1.00        47

    accuracy                           1.00       100
   macro avg       1.00      1.00      1.00       100
weighted avg       1.00      1.00      1.00       100